body {
  margin: 60px;
  padding: 20px;
}

.aboutme {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  min-width: 675px;
}

.about-text {
  padding: 0px 0px 0px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: justify;
}

.about-text h2 {
  margin-bottom: 40px;
  color: #858e95;
}

.about-text p {
  font-size: 17px;
  color: #8b939b;
}

.projects {
  margin-top: 100px;
  padding-bottom:100px;
  min-width: 1100px;
  border-top: #ececec 3px solid;
  border-bottom: #ececec 3px solid;
}

.projects h4 {
  width: 100%;
  margin: 30px 0px;
  color: #858e95;
  padding: 30px 0px;
}

.projects img {
  opacity: 0.7;
  filter: grayscale(60%);
  border: 1px solid #dddddd;
  box-shadow: #00000059 0px 5px 15px;
}

.projects img:hover {
  opacity: 0.9;
  filter: grayscale(0%);
  transition: 0.5s;
  box-shadow: #000000ef 0px 5px 15px;
}

.projects ul {
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 25px;
}

.skils {
  border-bottom: #ececec 3px solid;
}

.skils h4 {
  padding: 60px 0px;
  color: #858e95;
}

.contacts h4 {
  padding: 60px 0px;
  color: #858e95;
}

.contacts ul {
  list-style: none;
  display: flex;
}

span a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

span a:hover,
span a:focus {
	outline: none;
}

.cl-effect-11 a {
	color: #0972b4;
	text-shadow: none;
} 

.cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #000;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
	white-space: nowrap;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}