body {
  margin: 60px;
	padding: 20px;
	font-family: 'Lora';
	line-height: normal;
}

.navbar {
	background-color: #eaf5f0f3 !important;
}

.navbar-brand {
	font-size: 16px;
	letter-spacing: 3px;
}

.navbar-brand::first-letter {
	background-color:rgba(0, 0, 0, 0.103);
	padding: 0.5px 2px 0.5px 5px;
	border-radius: 2px;
}

.aboutme {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  min-width: 675px;
}

.aboutme img {
	opacity: 0.95;
}

.about-text {
  padding: 0px 0px 0px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: justify;
}

.about-text h2 {
  margin-bottom: 30px;
	color: #858e95;
}

.about-text p {
  font-size: 16px;
	color: #8b939be3;
	font-family: 'Montserrat';
	line-height: 1.5;
	letter-spacing: 0.8px;
}

.projects {
  margin-top: 100px;
  padding-bottom:100px;
  min-width: 1100px;
  border-top: #f5b2ae5e 3px solid;
  border-bottom: #f5b2ae5e 3px solid;
}

.projects h4 {
  width: 100%;
  margin: 30px 0px;
  color: #858e95;
	padding: 30px 0px 10px 0px;
	text-align: center;
	font-size: 25px;
}

.projects img {
  box-shadow: #00000059 0px 5px 15px;
}

.projects img:hover {
  opacity: 0.9;
  box-shadow: #000000ef 0px 5px 15px;
}

.projects ul {
  padding: 0px;
  list-style: none;
  display: grid;
	grid-template-columns: 50% 50%;
}

.grid {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 550px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
  margin: 0;
	position: relative;
}

.grid img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #9ad3bc5b;
	color: #666666;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #666666;
	font-size: 22px;
}

.grid figcaption span:before {
	content: '';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff2f2;
}

.cs-style-6 figure img {
	z-index: 10;
	transition: 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
	transform: translateY(-50px) scale(0.55);
}

.cs-style-6 figcaption {
	height: 100%;
	width: 100%;
}

.cs-style-6 figcaption h3 {
	margin-top: 40%;
}

.cs-style-6 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.cs-style-6 figcaption a:hover {
	text-decoration: none;
	background-color: #df254a;
	transition: 0.5s;
	color: #fff;
}

span a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-style: italic;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 15px;
}

span a:hover,
span a:focus {
  outline: none;
  text-decoration: none;
}

.cl-effect-11 a {
	color: #727981;
  text-shadow: none;
  background-color: #ffdbdba1;
} 

.cl-effect-11 a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
  max-width: 0;
	border-bottom: 2px solid #fff;
	color: #FD1015;
	content: attr(data-hover);
	-webkit-transition: max-width 0.7s;
	-moz-transition: max-width 0.7s;
	transition: max-width 0.7s;
	white-space: nowrap;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
	max-width: 100%;
}

.cl-effect-14 a:hover,
.cl-effect-14 a:focus {
	outline: none;
}

.cl-effect-14 a {
  position: relative;
	display: inline-block;
	margin: 0px 15px;
	outline: none;
	color: #858E95;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px #ffffff4d;
	font-size: 1em;
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #858E95;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.skils {
	border-bottom: #f5b2ae5e 3px solid;
	padding: 60px 0px;
}

.skils h4 {
	padding-bottom: 60px;
	color: #858e95;
	text-align: center;
	font-size: 25px;
}

.skils ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(10, 1fr);
	gap: 8px;
	column-gap: 20px;
	grid-auto-flow: column;
	font-size: 16px;
	color: #8b939be3;
	font-family: 'Montserrat';
}

.skils-list {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.langs {
	margin: 40px auto;
  width: 100px;
  height: 100px;
	perspective: 1000px;
	position: relative;
}

.carousel {
	height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
	display: block;
  position: absolute;
  background: #000;
  width: 100px;
  height: 100px;
  line-height: 90px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
	border-radius: 15px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.item:nth-child(1), .item:nth-child(8), .item:nth-child(5),
.item:nth-child(7), .item:nth-child(9), .item:nth-child(12)  {
	box-shadow: rgb(255, 253, 253) 0px 50px 100px -20px, rgb(255, 255, 255) 0px 30px 60px -30px, rgb(246, 249, 251) 0px -2px 6px 0px inset;
}

.a {
	transform: rotateY(0deg) translateZ(350px);
	background: #1a130c;
}
.b {
	transform: rotateY(30deg) translateZ(350px);
  background: #e4e4e4;
}
.c {
	transform: rotateY(60deg) translateZ(350px);
  background: #1a130c;
}
.d {
	transform: rotateY(90deg) translateZ(350px);
  background: #e4e4e4;
}
.e {
  transform: rotateY(120deg) translateZ(350px);
  background: #1a130c;
} 
.f {
	transform: rotateY(150deg) translateZ(350px);
  background: #e4e4e4;
}

.g {
  transform: rotateY(180deg) translateZ(350px);
  background: #1a130c;
}

.h {
	transform: rotateY(210deg) translateZ(350px);
  background: #e4e4e4;
}

.i {
	transform: rotateY(240deg) translateZ(350px);
  background: #1a130c;
}

.j {
	transform: rotateY(270deg) translateZ(350px);
  background: #e4e4e4;
}

.k {
	transform: rotateY(300deg) translateZ(350px);
  background: #1a130c;
}

.l {
	transform: rotateY(330deg) translateZ(350px);
  background: #e4e4e4;
}

.controls {
	display: flex;
	justify-content: center;
}

.next, .prev {
	width: fit-content;
	color: #858585;
	font-size: 50px;
	font-family: sans-serif;
	position: relative;
	padding: 0px 15px;
	margin: 20px;
  cursor: pointer;
  background: #EBF5F1;
	border-radius: 50%;
	border: 2px solid #EBF5F1;
  box-shadow: #0e1e251f 3px 0px 3px 1px;
	transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { 
	color: #ed4e6e98;
	transition: 0.2s;
}
.next:active, .prev:active {
	box-shadow: 0 1px 0 #999;
}

.contacts h4 {
	padding-top: 60px;
	color: #858e95;
	text-align: center;
	margin-bottom: 0px;
}

.contacts p {
	font-size: 10px;
	color: #858e95;
	text-align: center;
	padding-bottom: 20px;
}

.contacts ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0px;
}

.contacts li {
	margin: auto 20px;
}

.contacts i {
	color: #4f5050;
	font-size: 30px;
}

.contacts i:hover {
	color: #ed4e6e;
	transition: 0.3;
}